body{
    background-image:url("./images/back-rugoso2.png");
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}
header{
    padding: 1px;
    margin: 0px auto;
    padding-left:10px;
    background: #002657;
    text-align: left;
}
header img{
    float: left;
}
header, h3 h4{
color: white;
}
.titlehd{
    font-weight:bold;
    padding:12px;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#titlehd{
    margin:0px auto;
    padding:5px;
    background:#002657;
    color:white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.formss{
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
}
th{
    background:#002657;
    color:white;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.infouser {
    float: right;
    overflow: hidden;
}

.infouser .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 8px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.infouser-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.infouser-content a {
    float: none;
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .infouser:hover{
  background-color: #555;
  color: white;
}

.infouser-content a:hover {
    background-color: #ddd;
    color: black;
}

.infouser:hover .infouser-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .infouser .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .infouser {float: none;}
  .topnav.responsive .infouser-content {position: relative;}
  .topnav.responsive .infouser .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.infouser hover{
    color:white;
}
div a img{
    display:none;
}