body{
    background-image:url("./images/back-rugoso2.png");
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
header{
    padding: 1px;
    margin: 0px auto;
    background: #002657;
    text-align: left;
}
header img{
    float: left;
}
header, h3 h4{
color: white;
}
.container{
    padding-top:50px;
   }
.login{
    margin:50px auto;
    width:70%;
}
div a img{
    display:none;
}