<!DOCTYPE HTML>
<html>
<head>
    <!--Compatibilidad con navegadores Edge,Chrome-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--Unicode carcateres especiales-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!--Controla las dimensiones y la escala de la página. Para telefonos y tablets.-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Descripcion del sitio Web en Content-->
        <meta name="description" content="">
    
        <title>Dirección de Patrimonio Universitario Facultad de Telemática</title>
    
    <!--Estilos CSS-->
        <link rel="stylesheet" type="text/css" href="./css/admin.css">
    <!--Agregar el icono de la pagina-->
        <link rel="shortcut icon" href="./images/logocircular.ico" type="image/x-icon">
    <!--Tipeado de letra -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Termina Bootstrap-->
        
    <!--Login-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--Iconos de Font-Aweasome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Script para usar angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--Termina Login-->
       <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script> 
       <!--Script para mostrar el dato introducido-->
        <link rel="manifest" href="manifest.json">
	    <link rel="stylesheet" href="./css/strength.css">
	    <script src="./js/password_strength.js"></script>
	    <script src="./js/jquery-strength.js"></script>
	    
	     <!-- Script para mostrar los nombres de usuarios registrados en la base de datos -->
        <script src="./js/app.js"></script>
<script>
$(document).ready(function(){
     if ((sessionStorage.nombre != undefined) && (sessionStorage.user != undefined)) {
        document.getElementById("no_cuenta").innerHTML = "No. Cuenta: " + sessionStorage.user + " Password: " + sessionStorage.nombre;
    } else {
        console.log("No has introducido tu nombre y tu password");
    }
    document.getElementById("no_cuenta").innerHTML = sessionStorage.getItem("user");
    document.getElementById("nombre").innerHTML = sessionStorage.getItem("nombre");
});
</script>

</head>

<body style=" background-image:url('./images/back-rugoso2.png')">
   <!--Controlador variables Angular -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <header>
            <!--Agregar icono en el Header -->
            <img src="./images/logocircularwhite.png" alt="" width="78px">
            <h3 class="titulo">Dirección de Patrimonio Universitario Facultad de Telemática</h3>
            <h4 class="subtitulo">Dirección de Patrimonio Universitario</h4>
        </header>
        <!--Menu-->
            <!-- Nav sencillo sin bootstrap -->
        <div class="topnav" id="myTopnav">
            <a href="admin.html" class="w3-bar-item w3-button"  style="text-decoration:none;">Inicio</a>
            <a href="mobiliario.html" class="w3-bar-item w3-button"  style="text-decoration:none;">Mobiliario</a>
             <div class="infouser">
                <button class="dropbtn"> <a href="#" class="dropdown-toggle" data-toggle="infouser"  style="text-decoration:none;">[ <span id="no_cuenta"  style="text-decoration:none;"> </span> ] <span id="nombre"  style="text-decoration:none;"></span>
                  <i class="fa fa-caret-down"></i></a>
                </button>
                <div class="infouser-content">
                    <a  href="#" style="text-decoration:none;" ng-click="salir();"><span class="glyphicon glyphicon-off"></span>&nbsp;Cerrar Sesión</a>
                </div>
              </div> 
              <a href="javascript:void(0);" style="font-size:15px; text-decoration:none;" class="icon" onclick="ToggleNav()">&#9776;</a>
        </div>
        <!-- Termina menuú -->
       
        <!--Salto de linea-->
            <p>&nbsp;</p>
        <div class="container ">
            <div class="row">
             <div class="col-md-12" ></div>
                <div class="col-md-12" >
                    <div class="col-md-7 col-md-offset-2">
                       <div class="row-fluid">&nbsp;</div>                  
                        
                        <div class="form-group" style="border-radius:25px;">
                            <div id="titlehd"> 
                                <span class="titlehd">Archivo de inventario:</span>
                            </div>
                            <form class="w3-container w3-card-4 w3-light-grey w3-text-black formss" action="./API/importar1.php" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <p>&nbsp;</p>
                                    <input type="file" class="form-control-file" name="sel_file" id="sel_file" required="">
                                </div>
                                <input type="submit" name="Importar" value="Importar" style="border-radius:5px;" class="w3-button w3-right w3-section w3-green">
                            </form>
                       </div>
                       
                        <p>&nbsp;</p>
                        <!--Segundo contenedor-->
                        <div class="form-group">
                            <div id="titlehd"> 
                                <span class="titlehd">Contraseña guardada:</span>
                            </div>
                            <form class="w3-container w3-card-4 w3-light-grey w3-text-black formss">
                                <div class="form-group">
                                    <p>&nbsp;</p>
                                    <input type="password" class="seguridad form-control w3-input w3-border w3-round-xxlarge" name="passwordgg" id="passwordgg" ng-model="contrasena" value="" required="" />
                                </div>
                                <button style="border-radius:5px;" class="w3-button w3-right w3-section w3-green" ng-click="guardar();">Guardar </button>
                            </form>
                        </div>
                        <div class="row-fluid">&nbsp;</div>
                        <div class="center">
                            <center>
                                <label>Filtrar por nombre:</label>
                                <input type="text" placeholder="Ingrese el texto a buscar" requiered="" max="80" ng-model="nombre" />
                            </center>
                        </div>
                    
                        <div class="row-fluid">&nbsp;</div>
                        <div class="table-responsiv formss">
                            <table class="table table-sm table-hover table-striped formss">
                                <thead>
                                  <tr class="w3-blue">
                                   <th>No. de trabajador</th>
                                   <th>Nombre</th>
                                    <th>Contraseña</th>
                                    <th>Tipo</th>
                                    <th>Restablecer contraseña</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <!--tr ng-repeat="x in myData | filter: nombre"-->
                                <tr ng-repeat="x in myData track by $index">
                                  <td>{{x.idtrabajador}}</td>
                                  <td>{{x.nombre}}</td>
                                  <td>{{x.password}}</td>
                                   <td><center>{{x.tipo}}</center></td>
                                    <td>{{x.restablecer}}</td>
                                </tr>
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <script>
    		jQuery(function($) {
    			
    			$(".seguridad").strength({
    				templates: {
        			toggle: '<span class="input-group-addon"><span class="glyphicon glyphicon-eye-open {toggleClass}"></span></span>'
                    },
                    scoreLables: {
                            empty: 'Vacío',
                            invalid: 'Invalido',
                            weak: 'Débil',
                            good: 'Bueno',
                            strong: 'Fuerte'
                        }, 
                    scoreClasses: {
                            empty: '',
                            invalid: 'label-danger',
                            weak: 'label-warning',
                            good: 'label-info',
                            strong: 'label-success'
                        },
    			});
    		});
    	</script>
    </div>
</body>
</html>