<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dirección de Patrimonio Universitario Facultad de Telemática</title>
    <meta name="description" content="">

    <!--Controla las dimensiones y la escala de la página. Para telefonos y tablets.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/admin.css">
        <link rel="shortcut icon" href="./images/logocircular.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <!--Login-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="./js/app.js"></script>
    <!--Termina Login-->

<style>
    body{
        background-image:url("./images/back-rugoso2.png");
    }
    .table-responsive{
        margin:0px auto;
    }
    th{
        background:#002657;
        color:white;
    }
</style>
<script>
$(document).ready(function(){
   if ((sessionStorage.nombre != undefined) && (sessionStorage.user != undefined)) {
        document.getElementById("no_cuenta").innerHTML = "No. Cuenta: " + sessionStorage.user + " Password: " + sessionStorage.nombre;
    } else {
        document.getElementById("nombre").innerHTML = "No has introducido tu nombre y tu password";
    }
    document.getElementById("no_cuenta").innerHTML = sessionStorage.getItem("user");
    document.getElementById("nombre").innerHTML = sessionStorage.getItem("nombre");

    var URLactual = window.location;
alert(URLactual);
});
</script>
</head>


<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <header>
            <a href="#"><img src="./images/logocircularwhite.png" alt="" width="75px"></a>
            <h3 class="titulo">Dirección de Patrimonio Universitario Facultad de Telemática</h3>
            <h4 class="subtitulo">Dirección de Patrimonio Universitario</h4>
        </header>

          <!-- Nav sencillo sin bootstrap -->
        <div class="topnav" id="myTopnav">
             <a href="javascript:history.back(-1);"  style="text-decoration:none;" class="w3-bar-item w3-button active"><sapan style="margin-left:10px;"> Inicio</sapan></a>
             <a class="w3-bar-item w3-button active" data-toggle="modal" data-target="#myModal">Ayuda</a>
             <div class="infouser">
                <button class="dropbtn"> <a href="#" class="dropdown-toggle" data-toggle="infouser"  style="text-decoration:none;">[ <span id="no_cuenta" style="text-decoration:none;"> </span> ] <span id="nombre"  style="text-decoration:none;"></span>
                  <i class="fa fa-caret-down"></i></a>
                </button>
                <div class="infouser-content">
                  <a href="#" style="text-decoration:none;" ng-click="salir();"><span class="glyphicon glyphicon-off"></span>&nbsp;Cerrar Sesión</a>
                </div>
              </div> 
              <a href="javascript:void(0);" style="font-size:15px; text-decoration:none;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <div class="container text-center bg-lightgray" style="width: 100%;">
        <div class="row-fluid">&nbsp;</div>
         <div class="form-group">
            <label > Filtrar por:</label>
                <input type="text" name="" placeholder="Dato a buscar" />
        </div>
    <div class="row-fluid">&nbsp;</div>
    <div class="table-responsive" style="width:80%;">
        <table class="table table-hover w3-table-all w3-centered w3-bored">
            <thead>
                <tr class="tr w3-green">
                    <th>No. Inventario</th>
                    <th>Descripción</th>
                    <th>Ubicación</th>
                    <th>No. De Trabajador</th>
                    <th>Custodio 2</th>
                </tr>
                <tr></tr>
            </thead>
            <tr ng-repeat="x in myData | filter: nombre">
               <td>{{x.numero}}</td>
               <td>{{x.descripcion}}</td>
               <td>{{x.ubicacion}}</td>
               <td><center>{{x.dependencia}}</center></td>
               <td>{{x.custodio2}}</td>
            </tr>
       
        </table>
    </div>
</div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
        	<div class="modal-dialog">
          <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header" style="background:#002657;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:white;">Ayuda</h4>
                  </div>
                  <div class="modal-body">
                    <p>Si necesitas ayuda o tienes algun problema, envia un correo a los administradores o encargados del control de inventario en tu facultad.</p>
                  </div>
                  <div class="modal-footer" style="background:#002657;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
        	</div>
        </div>
    </div>
    
    <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
        });
    }
</script>

</body>
</html>