<!DOCTYPE HTML>
<html>
<head>
    <!--<meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dirección de Patrimonio Universitario Facultad de Telemática</title>
    <meta name="description" content="">

    <!--Controla las dimensiones y la escala de la página. Para telefonos y tablets.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TODO add manifest here -->
        <link rel="manifest" href="manifest.json">
        <link rel="stylesheet" type="text/css" href="./css/login.css">
        <link rel="shortcut icon" href="./images/logocircular.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    <!--Login-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       <!--  <script type="text/javascript" src="./js/session.js"></script>-->
    <!--Termina Login-->
      <script src="./js/app.js"></script>
</head>

<body style="background-image:url('./images/back-rugoso2.png')">
    <div ng-app="myApp" ng-controller="myCtrl">
     
        <header>
            <img src="./images/logocircularwhite.png" alt="" width="75px" height="100%">
            <h3 class="titulo">Dirección de Patrimonio Universitario Facultad de Telemática</h3>
            <h4 class="subtitulo">Dirección de Patrimonio Universitario</h4>
        </header>
        <div class="container ">
        <div class="row">
            <div class="col-md-12" >
            </div>
            <div class="col-md-12" >
                
                <div class="col-md-7 col-md-offset-2">
                    <form class="w3-container w3-card-4 w3-light-grey w3-text-black">
                        <h2 class="w3-center">Iniciar sesión</h2>
                         
                        <div class="w3-row w3-section w3-center">
                          <label class="w3-center"><i class="w3-xlarge fa fa-user"> </i><i> Número de trabajador:</i></label>
                         
                             <input class="w3-center w3-input w3-border w3-round-xxlarge" id="user" name="user" type="text" placeholder="No. de trabajador" autofocus="" ng-model="user">
                        </div>
                            
                        <div class="w3-row w3-section w3-center">
                            <label class="w3-center"><i class="w3-xlarge fa fa-key"></i> <i> Contraseña:</i></label>
                            <input  class="w3-center w3-input w3-border w3-round-xxlarge" id="password" name="password" type="password" placeholder="Contraseña" autofocus="" ng-model="password">
                        </div>
                        <div class="w3-row w3-section w3-center">
                            <button id="boton-guardar" type="submit" style="border-radius:5px;" class="w3-center w3-button w3-hover-blue w3-lightgrey w3-border w3-border-black w3-round-large" ng-click="existeuser();">Iniciar sesión</button>
                        </div>
                        <div class="w3-container w3-pale-yellow w3-center">
                            <p style="font-style:italic;color:#FAAC58;font-size:13px;"><span class="glyphicon glyphicon-question-sign"></span>Tus datos de acceso debieron ser proporcionados por la Dirección de tu Facultad ó la Direccion General Del Patrimonio Universitario. Sí aún no cuentas con ellos comunícate directamente con ellos.</p>
                        </div>
                    <p>&nbsp;</p>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>  
<script>
   if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('./service-worker.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>
</div>
</body>
</html>