<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dirección de Patrimonio Universitario Facultad de Telemática</title>
    <meta name="description" content="">

    <!--Controla las dimensiones y la escala de la página. Para telefonos y tablets.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/admin.css">
        <link rel="shortcut icon" href="./images/logocircular.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <!--Login-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="./js/app.js"></script>
        <!--Scrip para mostrar el nombre-->
       <!-- <script type="text/javascript" src="./js/session.js"></script>-->
    <!--Termina Login-->
<style>
    body{
        background-image:url("./images/back-rugoso2.png");
    }
    .table-responsive{
        margin:0px auto;
    }
    th{
        background:#002657;
        color:white;
    }
    #formss{
        border-top-left-radius:12px;
        border-top-right-radius:12px;
    }
</style>

 <script>
$(document).ready(function(){
    if ((sessionStorage.nombre != undefined) && (sessionStorage.user != undefined)) {
        document.getElementById("no_cuenta").innerHTML = "No. Cuenta: " + sessionStorage.user + " Password: " + sessionStorage.nombre;
    } else {
        document.getElementById("nombre").innerHTML = "No has introducido tu nombre y tu password";
    }
    document.getElementById("no_cuenta").innerHTML = sessionStorage.getItem("user");
    document.getElementById("nombre").innerHTML = sessionStorage.getItem("nombre");
});
</script>


</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <header>
            <a href="#"><img src="./images/logocircularwhite.png" alt="" width="75px"></a>
            <h3 class="titulo">Dirección de Patrimonio Universitario Facultad de Telemática</h3>
            <h4 class="subtitulo">Dirección de Patrimonio Universitario</h4>
        </header>

         <!-- Nav sencillo sin bootstrap -->
        <div class="topnav" id="myTopnav">
  
             <a href="javascript:history.back(-1);" class="w3-bar-item w3-button" style="text-decoration:none;"> Inicio</a>
             <a href="mobiliario.html" class="w3-bar-item w3-button" style="text-decoration:none;">Mobiliario</a>
             <div class="infouser">
                 <button class="dropbtn"> <a href="#" class="dropdown-toggle" data-toggle="infouser" style="text-decoration:none;">[ <span id="no_cuenta" style="text-decoration:none;"> </span> ] <span id="nombre" style="text-decoration:none;"></span>
                  <i class="fa fa-caret-down"></i></a>
                </button>
                <div class="infouser-content">
                  <a href="#"  style="text-decoration:none;" ng-click="salir();"><span class="glyphicon glyphicon-off"></span>&nbsp;Cerrar Sesión</a>
                
                </div>
              </div> 
              <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12" >
                </div>
                <div class="col-md-12" >                
                    <div class="col-md-12 col-md-offset-0">
                        <div class="form-group formss">                        
                                <label>Filtrar por nombre:</label>
                                <input type="text" placeholder="Ingrese nombre a buscar" requiered="" max="80" ng-model="nombre" />                        
                        </div>
    
                        <div class="table-responsive" >
                            <table class="table table-hover w3-table-all w3-centered w3-bored" id="formss">
                                <thead>
                                    <tr class="th w3-blue">
                                        <th>#</th>
                                        <th>Descripcion</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Serie</th>
                                        <th>Ubicación</th>
                                        <th>No. Trabajador</th>
                                        <th>Custodio</th>
                                        <th>CVE_Dependencia</th>
                                        <th>Dependencia</th>
                                        <th>Custodio 2</th>
                                        <th>Observciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr ng-repeat="x in myData | filter: nombre">
                                        <td>{{x.numero}}</td>
                                        <td>{{x.descripcion}}</td>
                                        <td>{{x.marca}}</td>
                                        <td><center>{{x.modelo}}</center></td>
                                        <td>{{x.serie}}</td>
                                        <td>{{x.ubicacion}}</td>
                                        <td>{{x.no_trabajador}}</td>
                                        <td>{{x.custodio}}</td>
                                        <td>{{x.cve_depen}}</td>
                                        <td>{{x.dependencia}}</td>
                                        <td>{{x.custodio2}}</td>
                                        <td>{{x.observaciones}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>