<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dirección de Patrimonio Universitario Facultad de Telemática</title>
    <meta name="description" content="">

    <!--Controla las dimensiones y la escala de la página. Para telefonos y tablets.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/admin.css">
        <link rel="shortcut icon" href="./images/logocircular.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    <!--Login-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script> 
        
    <!--Termina Login-->
    
    <!-- show password -->
	<link rel="stylesheet" href="./css/strength.css">
	<script src="./js/password_strength.js"></script>
	<script src="./js/jquery-strength.js"></script>
	
	<!-- nav resposivo-->
	<script src="./js/app.js"></script>
<style>
body{
    background-image:url("./images/back-rugoso2.png");
}
    #formss{
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
</style>

<script>
$(document).ready(function(){
        document.getElementById("no_cuenta").innerHTML = sessionStorage.getItem("user");
        document.getElementById("nombre").innerHTML = sessionStorage.getItem("nombre");
});    
</script>

</head>

<body>
     <script>
        $i=1;
            if($i==1){
                    swal({
                          title: "Bienvenido!",
                              text: "Estas a punto de establecer una contraseña nueva.\n Ahora te explicaremos como esta la cosa.\nTienes que ingresar una nueva contraseña para acceder a tu cuenta del inventario. \nEstá debe constar de un numero mínimo de 6 caracteres en ambos campos y un máximo de 25 caracteres.\n Si la contraseña no es lo suficientemente optima se te indicará con un texto debajo de cada campo al que vas introduciéndola, de igual manera si las contraseñas no coinciden uno de los campos se marcará en color rojo, lo que significa que tendrás que verificar que ambas estén escritas correctamente.",
                          icon: "warning",
                          closeOnClickOutside : false , 
                          button: "Entendido!",
                        });
                        $i=2;
            }
            
        </script>
    <div ng-app="myApp" ng-controller="myCtrl">
       
        <header>
            <a href="#"><img src="./images/logocircularwhite.png" alt="" width="75px"></a>
            <h3 class="titulo">Dirección de Patrimonio Universitario Facultad de Telemática</h3>
            <h4 class="subtitulo">Dirección de Patrimonio Universitario</h4>
        </header>
        <!-- Nav sencillo sin bootstrap -->
        <div class="topnav" id="myTopnav">
  
             <a href="javascript:history.back(-1);" class="w3-bar-item w3-button active" style="text-decoration:none;"><sapan style="margin-left:10px;"> Inicio</sapan></a>
             <div class="infouser">
                <button class="dropbtn"> <a href="#" class="dropdown-toggle" data-toggle="infouser" style="text-decoration:none;">[ <span id="no_cuenta" style="text-decoration:none;"> </span> ] <span id="nombre" style="text-decoration:none;"></span>
                  <i class="fa fa-caret-down"></i></a>
                </button>
                <div class="infouser-content">
                  <a href="#" style="text-decoration:none;"><span class="glyphicon glyphicon-off" style="text-decoration:none;" ng-click="salir();"></span>&nbsp;Cerrar Sesión</a>
                </div>
              </div> 
              <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12"></div>
                <div class="col-md-12">                
                    <div class="col-md-7 col-md-offset-2">
                        <div class="row-fluid">&nbsp;</div>                  
            
                        <div class="form-group">
                            <div id="titlehd"> 
                                <span class="titlehd">Establecer una contraseña</span>
                            </div>
                            <form method="post" class="w3-container w3-card-4 w3-light-grey w3-text-black" id="formss">
                                <div class="form-group">
                                    <label>Ingrese la nueva contraseña</label>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="check-seguridad form-control w3-input w3-border w3-round-xxlarge" name="passwordn" ng-model="passwordn" id="passwordn" min="6" max="25" value="" required="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="check-seguridad form-control w3-input w3-border w3-round-xxlarge" name="passwordn2" ng-model="passwordn2" id="passwordn2" min="6" max="25" value="" required="" />
                                </div>
                              <input type="submit" style="border-radius:5px;" class="w3-button w3-right w3-section w3-green" name ="Guardar" id="Guardar" ng-click="valida();" value="Guardar" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
    		jQuery(function($) {
    			
    			$(".check-seguridad").strength({
    				templates: {
        			toggle: '<span class="input-group-addon"><span class="glyphicon glyphicon-eye-open {toggleClass}"></span></span>'
                    },
                    scoreLables: {
                            empty: 'Vacío',
                            invalid: 'Invalido',
                            weak: 'Débil',
                            good: 'Bueno',
                            strong: 'Fuerte'
                        }, 
                    scoreClasses: {
                            empty: '',
                            invalid: 'label-danger',
                            weak: 'label-warning',
                            good: 'label-info',
                            strong: 'label-success'
                        },
    
    			});
    			$('#password').keyup(function(){
                    var _this = $('#passwordn');
                    var password = $('#passwordn').val();
                    (this).attr('style', 'background:#FF4A4A');
                     if(password.charAt(0) == ' '){
                        this.attr('style', 'background:#FF4A4A');
                     }
     
                     if(this.val() == ''){
                     this.attr('style', 'background:#FF4A4A');
                     }
                     });
                     
                $('#passwordn2').keyup(function(){
                    var password = $('#passwordn').val();
                    var password2 = $('#passwordn2').val();
                    var _this = $('#passwordn2');
                        _this.attr('style', 'background:#FF4A4A');
                     if(password != password2 && password2 != ''){
                     _this.attr('style', 'background:#FF4A4A');
                     }else if(password == password2){
                         _this.attr('style', 'background:lightgreen');
                     }
                });
    		});
    	</script>
    </div>
</body>
</html>